<div 
  (click)="modalBgClick()"
  class="modal-overlay"
>
  <div (click)="modalWindowClick($event)" class="modal-window">

    <button (click)="modalCloseButtonClick($event)" class="close-btn">x</button>

    <h1>{{ modalTitle }}</h1>

    <div class="modal-content">
      <ng-content></ng-content>
    </div>

    <div class="ok-cancel-btns">
      <button (click)="okButtonClick($event)">ok</button>
      <button (click)="modalCloseButtonClick($event)">cancel</button>
    </div>

  </div>
</div>