<button (click)="pagination.first()" [disabled]="pagination.isFirst">&laquo;</button>
<button (click)="pagination.prev()" [disabled]="pagination.isFirst">&lsaquo;</button>
<input appPagination 
  #pagination="appPagination"
  [totalPages]="numberOfPages"
  [pageNo]="currentPage"
  (pageChange)="onPageChange($event)" 
/>
<span> {{ pagination.pageNo }} / {{ pagination.totalPages }}</span>
<button (click)="pagination.next()" [disabled]="pagination.isLast">&rsaquo;</button>
<button (click)="pagination.last()" [disabled]="pagination.isLast">&raquo;</button>