<!-- <form [formGroup]="changeFontSetNameForm" novalidate> -->
<form [formGroup]="changeFontSetNameForm">
  <div class="modal-content">
    <div>
      <label>Name:</label>
      <input type="textbox" formControlName="changeFontSetNameInput" (change)="nameChange($event)"/>
      <p *ngIf="changeFontSetNameForm.controls.changeFontSetNameInput?.errors?.required && changeFontSetNameForm.controls.changeFontSetNameInput?.dirty">A name is required</p>
      <br><br>
      <p>Error: {{ changeFontSetNameForm.controls.changeFontSetNameInput?.errors?.required }}</p>
      <p>Previous: {{ previousName$ | async }}</p>
    </div>
  </div>
</form>