<app-header></app-header>
<app-nav-bar></app-nav-bar>
<!-- <button (click)="toggleModal()">modal</button> -->

<main class="page-content">
  <!-- <div *ngIf="loading$ | async; else pageContent"
    class="page-loading"
    >
    Loading...
  </div>
  <ng-template #pageContent> -->
    <router-outlet></router-outlet>
    <!-- </ng-template> -->
  </main>
  
  <div>Need Footer</div>
  <!-- <app-footer class="footer"></app-footer> -->
  <div class="modalContainer" *ngIf="(modalToggle$ | async)">
    <app-modal-template
      (closeModal)="closeModal()"
    ></app-modal-template>
  </div>
