$debug: true;

:host {
    display: block;
    padding: 1rem;

    h2 {
        font-size: 2rem;
        position: absolute;
        margin: 0 auto;
        text-align: center;
        padding: .5rem;
        left: 50%;
        transform: translate(-50%, -70%);
        
        @if $debug { background-color: #777; }
        background-image: url("/assets/images/content_title.png");

        z-index: 1;
    }

    .content-data {
        padding: 2rem;
        width: 98%;
        transform: translate(1%);

        @if $debug { background-color: darkslategrey; }
        
        z-index: 0;
    }

    .content-top {
        background-image: url("/assets/images/content_frame.png");
        @if $debug { background-color: darkmagenta; }
    }
}
    .content-bottom {
        @if $debug { background-color: darkmagenta; }
    }