@import '~src/scss/common-imports';
$debug: false;

:host {
    display: block;
    padding: 1rem;

    h2 {
        font-size: 2rem;
        position: absolute;
        margin: 0 auto;
        text-align: center;
        padding: .5rem;
        left: 50%;
        transform: translate(-50%, -35%);
        
        @if $debug { background-color: #777; }
        background-image: url("/assets/images/content_title.png");
        background-size: cover;
        background-repeat: no-repeat;

        border-radius: 0.25rem;

        z-index: 1;
    }

    .content-data {
        padding: 2rem;
        width: 98%;
        transform: translate(1%);

        color: $dive-black;
        $color1: #eee;
        $color2: #ddd;
        background: repeating-linear-gradient(
            -45deg,
            $color1,
            $color1 10px,
            $color2 11px,
            $color2 11px
        );
        @if $debug { background-color: darkslategrey; }
        
        z-index: 0;
    }

    .content-top {
        height: 1rem;
        background-image: url("/assets/images/content_frame.png");
        @if $debug { background-color: darkmagenta; }
    }
}
    .content-bottom {
        height: 1rem;
        background-image: url("/assets/images/content_frame.png");
        @if $debug { background-color: darkmagenta; }
    }