.sign {

    display: inline;
    position: relative;
    margin: 1rem;

    label {
        position: absolute;
        left: 50px;
        top: -10px;
        cursor: pointer;
        color: black;

    label:visited {
        color: black;
    }
    }
}
