@import '~src/scss/common-imports';

:host {
  display: block;

  .layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 4rem;
  }

  .page {
    > div {
      margin-bottom: 3rem;
    }
    app-font-set-list {
      max-width: 200px;
    }
  }
}