@import '~src/scss/common-imports';

:host {
  display: block;

  .layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  app-font-set-list {
    max-width: 200px;
  }
}