<app-page-loading>
  <div class="page">
    <h1>Selection</h1>
  
    <div class="layout">
      <app-font-instance-picker
        (fontInstanceChange)="fontInstanceChange($event)"
        [fontInstance]="activeFontInstance$ | async"
      ></app-font-instance-picker>
    
      <app-font-preview-pane
        *loading="fontInstanceLoading$ | async"
        [fontInstance]="activeFontInstance$ | async"
      ></app-font-preview-pane>
    </div>

    <div class="layout">
      <app-font-set-selector></app-font-set-selector>

      <app-font-set-list [fontSetList]="fontSetList$ | async"></app-font-set-list>
    </div>
    
  </div><!-- end page -->
</app-page-loading>