<div class="grid">
  <app-dropdown id="SelectableFonts"
    #selectableFonts
    htmlId="SelectableFontsDropdown"
    title="Font"
    [options$]="selectableFonts$"
    displayProperty="family"
    valueProperty="family"
    (onOptionChange)="selectedFontChange($event)"
  ></app-dropdown>

  <app-dropdown id="FontWeights"
    #fontWeights
    htmlId="FontWeightsDropdown"
    title="Weight"
    [options$]="fontWeightOptions$"
    displayProperty=""
    valueProperty=""
    (onOptionChange)="selectedWeightChange($event)"
  ></app-dropdown>
  
  <div class="size-picker">
    <app-textbox
      dataType="integer"
      title="Size"
      [value]="fontInstance?.size"
      (textChange)="sizeChange($event)"
    ></app-textbox>
    <div class="up-down-arrows">
      <button class="weight-btn" (click)="upClick()">+</button>
      <button class="weight-btn" (click)="downClick()">-</button>
    </div>
  </div>

  <app-checkbox id="ItalicCheckbox"
    #italicCheckbox
    checkboxId="ItalicCheckbox"
    title="Italic"
    [checkedValue]="fontInstance.italic"
    [disabled]="!italicable"
    (onOptionChange)="italicChange($event)"
  ></app-checkbox>
</div>