<app-dropdown #selectableFonts
  htmlId="SelectableFontsDropdown"
  title="Fonts"
  [options$]="selectableFonts$"
  displayProperty="family"
  valueProperty="family"
  (onOptionChange)="selectedFontChange($event)"
></app-dropdown>

<app-dropdown #fontWeights
  htmlId="FontWeightsDropdown"
  title="Weight"
  [options$]="fontWeight$"
  displayProperty=""
  valueProperty=""
  (onOptionChange)="selectedWeightChange($event)"
></app-dropdown>

<app-checkbox
  checkboxId="ItalicCheckbox"
  title="Italic"
  [disabled]="!italicable"
  (onOptionChange)="italicChange($event)"
></app-checkbox>
