@import '~src/scss/common-imports';

:host {
  display: block;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    app-font-list-display {
      flex: 0 1 30%;
    }
  }
}