<app-page-loading>
  <h1>Configuration</h1>
  <!-- {{ fontsPerPage }} : {{ (blacklistedFonts$ | async)?.length }} -->
  <div class="page wide">
    <app-font-list-display 
      listName="Blacklisted Fonts"
      [fontList$]="blacklistedFontsByPage$" 
      [listType]="fontListsEnum.BLACKLISTED" 
      (fontClicked)="fontClick($event)"
      [numberOfPages]="blacklistedNumberOfPages$ | async"
      (pageChanged)="blacklistedPageChanged($event)"
    >
    </app-font-list-display>

    <app-font-list-display 
      listName="Available Fonts"
      [fontList$]="availableFontsByPage$"
      [listType]="fontListsEnum.AVAILABLE"
      (fontClicked)="fontClick($event)"
      [numberOfPages]="availableNumberOfPages$ | async"
      (pageChanged)="availablePageChanged($event)"
      [showSearchControls]="true"
      (searchString)="searchChange($event)"
    >
    </app-font-list-display>

    <app-font-list-display 
      listName="Selectable Fonts"
      [fontList$]="selectableFontsByPage$" 
      [listType]="fontListsEnum.SELECTABLE"
      (fontClicked)="fontClick($event)"
      [numberOfPages]="selectableNumberOfPages$ | async"
      (pageChanged)="selectablePageChanged($event)"
    >
    </app-font-list-display>
  </div>
</app-page-loading>
