<app-page-loading>
  <h1>Configuration</h1>

  <div class="page wide">
    <!-- <app-font-list-display 
      listName="Blacklisted Fonts"
      [fontList$]="blacklistedFonts$" 
      [listType]="fontListsEnum.BLACKLISTED" 
      (fontClicked)="fontClick($event)" >
    </app-font-list-display>

    <app-font-list-display 
      listName="Available Fonts"
      [fontList$]="top100Fonts$"
      [listType]="fontListsEnum.AVAILABLE"
      (fontClicked)="fontClick($event)">
    </app-font-list-display>

    <app-font-list-display 
      listName="Selectable Fonts"
      [fontList$]="selectableFonts$" 
      [listType]="fontListsEnum.SELECTABLE"
      (fontClicked)="fontClick($event)">
    </app-font-list-display> -->
  </div>
</app-page-loading>
