<app-page-loading>
  <h1>Demo</h1>
  <div class="page">

    <h1 [ngStyle]="headerStyle">Dive Inn - What's Inside</h1>
    <h1 [ngStyle]="headerStyle">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</h1>
    <h1 [ngStyle]="headerStyle">a b c d e f g h i j k l m n o p q r s t u v w x y z</h1>
    <h1 [ngStyle]="headerStyle">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
    <h1 [ngStyle]="headerStyle">abcdefghijklmnopqrstuvwxyz</h1>
    <h1 [ngStyle]="headerStyle">. ? ! / @ # $ % ^ &amp; * ( ) ~ - + = ' " : ; &lt; &gt;</h1>
    <hr>
    <p [ngStyle]="textStyle">The quick brown fox jumped over the lazy dog.</p>
    <p [ngStyle]="textStyle">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
    <p [ngStyle]="textStyle">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
    <p [ngStyle]="textStyle">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
    <p [ngStyle]="textStyle">abcdefghijklmnopqrstuvwxyz</p>
    <p [ngStyle]="textStyle">. ? ! / @ # $ % ^ &amp; * ( ) ~ - + = ' " : ; &lt; &gt;</p>
    <hr>

    <!-- <app-animated-cube></app-animated-cube>

    <app-animated-checkmark-svg></app-animated-checkmark-svg> -->

    <!-- <app-animated-checkmark-svg
      size="100"
    >
    </app-animated-checkmark-svg>

    <app-checkbox
      id="testCheckbox"
      uiLabel="Test Checkbox"
    ></app-checkbox> -->

    <!-- <app-font-configuration></app-font-configuration>

    <app-server-test></app-server-test> -->

  </div>
</app-page-loading>