<app-page-loading>
  <div class="page">

    Select Font Set:
    <app-select htmlName="FontSetList" [fontSetList$]="fontSetList$" [activeFontSetId$]="activeFontSetId$"
      [activeFontSet]="activeFontSet$ | async" (onOptionSelected)="selectedFontSetChange($event)"></app-select>

    <app-main-nav
      [links]="['What&rsquo;s Inside', 'Specials', 'Food', 'Events', 'Find Us']"
      [fontSource$]="getFontInstanceForType$('main_nav')"
    >
    </app-main-nav>

    <app-content-container title="Section Title">
      <h1 styleFont [fontSource$]="getFontInstanceForType$('page_title')">
        Page Title Font
      </h1>
      <h2 styleFont [fontSource$]="getFontInstanceForType$('main_nav')">
        Main Nav Font
      </h2>
      <h3 styleFont [fontSource$]="getFontInstanceForType$('section_title')">
        Section Title Font
      </h3>
      <h4 styleFont [fontSource$]="getFontInstanceForType$('section_header')">
        Section Header Font
      </h4>
      <p styleFont [fontSource$]="getFontInstanceForType$('section_text')">
        Section Text Font
      </p>

    </app-content-container>

    <app-content-container title="What's Inside">
      <h1 styleFont [fontSource$]="getFontInstanceForType$('page_title')">
        Inside the <span>Dive Inn</span>
      </h1>
      <h2 styleFont [fontSource$]="getFontInstanceForType$('section_header')">
        Dive Bar - Sports Bar - Games Bar
      </h2>
      <p styleFont [fontSource$]="getFontInstanceForType$('section_text')">
        Dive Inn is one of Southeast Denver's most popular venues, with a cozy dive bar, a big-screen sports bar, and a
        lively games bar, all in the same great space!
      </p>
      <p styleFont [fontSource$]="getFontInstanceForType$('section_text')">
        With awesome drink specials every day and a huge variety of crazy events throughout the year, there's always a
        reason to visit the Dive Inn.
      </p>
      <p styleFont [fontSource$]="getFontInstanceForType$('section_text')">
        <strong>Open 365 days a year</strong>, we're ready whenever you are!
      </p>
      <h2 styleFont [fontSource$]="getFontInstanceForType$('section_header')">
        Check out what the Dive Inn has to offer:
      </h2>
      <p styleFont [fontSource$]="getFontInstanceForType$('section_text')">
        TODO: in-page nav
      </p>
    </app-content-container>

    <!-- <app-nav></app-nav> -->

    <!-- <app-animated-cube></app-animated-cube>

    <app-animated-checkmark-svg></app-animated-checkmark-svg> -->

    <!-- <app-animated-checkmark-svg
      size="100"
    >
    </app-animated-checkmark-svg>

    <app-checkbox
      id="testCheckbox"
      uiLabel="Test Checkbox"
    ></app-checkbox> -->

    <!-- <app-font-configuration></app-font-configuration>

    <app-server-test></app-server-test> -->

  </div>
</app-page-loading>