<h2>Font Set Selector</h2>
<div>
  Active Font Set: {{ (activeFontSetName$ | async) }}
</div>

<div *ngFor="let fontTypeInstance of (activeFontSetTypeInstanceIds$ | async) | keyvalue">
  <app-font-type-instance-loader
    [fontInstance]="fontTypeInstance"
    [previewText]="fontTypeInstance.value"
  ></app-font-type-instance-loader>
</div>

<br><br>
<h3>Font Type-Instance Array</h3>
<div *ngFor="let fi of (activeFontSetTypeInstanceIds$ | async)">
  Font Type-Instance: {{ fi[0] }} {{ fi[1] }}
</div>

<h3>Active Set Font Instances</h3>
<div *ngFor="let fi of (activeFontSetFontInstances$ | async)">
  Font Type-Instance: {{ fi.family }} {{ fi.id }}
</div>

<h3>All Font Instances</h3>
<div *ngFor="let fi of (allFontInstances$ | async)">
  Font Type-Instance: {{ fi.family }} {{ fi.id }}
</div>
