<h2>Font Set Selector</h2>
<button (click)="createFontSet()">NEW SET</button>
<div class="font-set-name-row">
  Name: <span class="font-set-name">{{ (activeFontSetName$ | async) }}</span>
  <button (click)="updateFontSetName()">CHANGE</button>
</div>

<div *ngFor="let fontTypeInstance of (activeFontSetTypeInstances$ | async) | keyvalue: sortOriginalOrder">
  <h4>{{fontTypeInstance.key}}</h4>
  <app-font-type-instance-loader
    [fontTypeInstanceKvp]="fontTypeInstance"
    [displayText]="fontTypeInstance.value?.family + ' ' + fontTypeInstance.value?.size + ' ' + fontTypeInstance.value?.weight"
    (upClicked)="setActiveFontInstance(fontTypeInstance)"
    (downClicked)="storeActiveFontInstanceToSet(fontTypeInstance)"
  ></app-font-type-instance-loader>
  <!-- <div>
    Font Type-Instance: {{ fontTypeInstance?.key }} - {{ fontTypeInstance?.value?.family }}
  </div> -->
</div>

<br><br>
<button *ngIf="(activeFontSetTypeInstances$ | async)?.size > 0" 
  (click)="saveActiveFontSet()"
>
  SAVE
</button>

<br><br>
<h3>Font Type-Instance Array</h3>
<div *ngFor="let fi1 of (activeFontSetTypeInstances$ | async) | keyvalue">
  Font Type-Instance: {{ fi1.key }} {{ fi1.value.family }}
</div>

<!-- <h3>Active Set Font Instances</h3>
<div *ngFor="let fi2 of (activeFontSetFontInstances$ | async)">
  Font Type-Instance: {{ fi2.key }} {{ fi2.value }}
</div> -->

<h3>All Font Instances</h3>
<div *ngFor="let fi3 of (uiFontInstances$ | async)">
  {{ fi3.family }} {{ fi3.id }} weight: {{ fi3.weight }}
</div>


<h3>All Font Types</h3>
<div *ngFor="let ft of (allFontTypes$ | async)">
  TypeId: {{ ft.id }} - {{ ft.type }}
</div>