@import '~src/scss/common-imports';

:host {
  display: block;
  
  > div { 
    border: 1px solid $dive-white;
    padding: 1rem;

    &.condensed {
      border: none;
      padding: 0.25rem 0.5rem;
    }
  
    &.detailed {
      border: red;
    }
  }
}