@import '~src/scss/common-imports';

$signOffsetHigh: 20px;
$signOffsetLow: 80px;
$signSpacing: 48px;

:host {
  display: block;
  position: relative;
  //overflow: hidden;
  margin-bottom: 32px;
  
  .links {
    display: flex;
    justify-content: center;

    app-main-nav-link {
      position: relative;
      top: $signOffsetHigh;
      margin: 0 $signSpacing;

      transform: rotate(1.5deg);

      &:nth-child(even) {
        top: $signOffsetLow;
        transform: rotate(-1.5deg);
      }
      &:nth-child(3n) {
        transform: rotate(-0.5deg);
      }
      &:nth-child(4n) {
        transform: rotate(1.5deg);
      }
    }
  }

  .content {
    position: relative;
    min-height: 6rem;
    background-color: $dive-white;
  }

  img {
    position: relative;
    display: block;
    width: 100%;
  }
}