@import '~src/scss/common-imports';

$debug: false;

:host {
  // super lazy, try to avoid
  ::ng-deep {
    input {
      height: 1.75rem;
      padding: 0 0.5rem;
    }
  }

  display: block;
  @if $debug { background: #733; }
  h2 {
    @if $debug { background: #888;}
    margin: 0;
    padding: 0 0 1rem 0;
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: $dive-red-dk;
      @if $debug { background: #373;}
      margin: 1rem 0;
      
      .font-name {
        font-size: 1.5rem;
        margin: 0;
      }
      .font-details {
        margin-top: 0.5rem;
        font-size: 0.8rem;
      }

      > button {
        flex: 0 1 10%;
      }
      > app-font-preview-pane {
        flex: 1 0 0;
        margin: 1rem;
      }
    }
  }
  
  .no-results {
    margin-top: 3rem;
    font-size: 1.2rem;
    text-align: center;
  }
  
  button {
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
  }

  .remove-button {
    position: relative;
  }
  .button-hover-trigger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; // stack above parent content
  }

  .disabled-tooltip {
    background-color: $dive-black;
    border: 1px solid black;
    padding: 1rem;
    position: absolute;
    left: 35px;
    top: 35px;
    z-index: 2; // stack above parent content

    li {
      background-color: transparent;
      margin: 0.25rem 0;
    }
  }
}