// !! THIS IS A GENERATED FILE DO NOT MAKE CHANGES HERE !!

$dive-white_rgb: rgb(235, 235, 235);
$dive-red_rgb: rgb(222, 39, 38);
$dive-black_rgb: rgb(21, 18, 18);
$dive-gray-lt_rgb: rgb(204, 187, 187);
$dive-gray-md_rgb: rgb(153, 136, 136);
$dive-gray-dk_rgb: rgb(85, 68, 68);
