// @font-face {
//   font-family: '';
//   src: url('webfont.eot'); /* IE9 Compat Modes */
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

@mixin fontFace($name, $file, $folder, $fullName, $postscriptName, $style: normal, $weight: 400) {
  $basePath: '/assets/fonts/';
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url($basePath + $file + '.eot'); /* IE9 Compat Modes */
    src: 
      local($fullName) /* use font from user's system if installed */
      local($postscriptName),  /* local Postscript for OS X + Safari */
      url($basePath + $file + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url($basePath + $file + '.woff2') format('woff2'), /* Super Modern Browsers */
      url($basePath + $file + '.woff') format('woff'), /* Modern Browsers */
      url($basePath + $file + '.ttf') format('truetype'), /* Safari, Android, iOS */
      url($basePath + $file + '.svg#AlfaSlabOne') format('svg'); /* Legacy iOS */
  }
}

@include fontFace('Alfa Slab One', 'alfa-slab-one-v9-latin-regular', 'alfa-slab-one', 'Alfa Slab One Regular', 'AlfaSlabOne-Regular');

@font-face {
  font-family: 'Anton';
  src: url('/assets/fonts/Anton-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Bevan';
  src: url('/assets/fonts/Bevan-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'PatuaOne';
  src: url('/assets/fonts/PatuaOne-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('/assets/fonts/PTSansNarrow-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url('/assets/fonts/PTSansNarrow-Bold.ttf')  format('truetype');
}